<div class="d-flex justify-content-between align-items-center mb-4">
  <h5 class="card-title fw-semibold mb-0"><i class="ti ti-plus me-2"></i>Novo Veículo</h5>
  <%= link_to g_veiculos_path, class: "btn btn-secondary" do %>
    <i class="ti ti-arrow-left"></i> Voltar
  <% end %>
</div>

<%= render "form" %>
