<div id="<%= dom_id g_tipo_item_checklist %>">
  <p>
    <strong>Descricao:</strong>
    <%= g_tipo_item_checklist.descricao %>
  </p>

  <p>
    <strong>Criterio objetivo:</strong>
    <%= g_tipo_item_checklist.criterio_objetivo %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= g_tipo_item_checklist.peso %>
  </p>

</div>
