<div id="<%= dom_id g_distrito %>">
  <p>
    <strong>Descricao:</strong>
    <%= g_distrito.descricao %>
  </p>

  <p>
    <strong>Codigo ibge:</strong>
    <%= g_distrito.codigo_ibge %>
  </p>

  <p>
    <strong>G municipio:</strong>
    <%= g_distrito.g_municipio_id %>
  </p>

</div>
