<div id="<%= dom_id g_municipio %>">
  <p>
    <strong>Descricao:</strong>
    <%= g_municipio.descricao %>
  </p>

  <p>
    <strong>Codigo ibge:</strong>
    <%= g_municipio.codigo_ibge %>
  </p>

  <p>
    <strong>G estado:</strong>
    <%= g_municipio.g_estado_id %>
  </p>

</div>
