<div id="<%= dom_id g_localidade %>">
  <p>
    <strong>Descricao:</strong>
    <%= g_localidade.descricao %>
  </p>

  <p>
    <strong>G distrito:</strong>
    <%= g_localidade.g_distrito_id %>
  </p>

</div>
