<div class="sigel-page-header mb-4">
  <div class="sigel-page-title">
    <iconify-icon icon="solar:layers-bold-duotone" style="font-size: 2.2rem;"></iconify-icon>
    <h1>Detalhes do Estado</h1>
  </div>
</div>
<div class="sigel-card">
  <div class="sigel-card-header">
    <h5>
      <iconify-icon icon="solar:clipboard-text-bold-duotone" class="me-2"></iconify-icon>
      Informações do Registro
    </h5>
  </div>
  <div class="sigel-card-body">
    <div class="row g-4">
      <div class="col-md-6">
        <div class="sigel-detail-item">
          <span class="sigel-detail-label">Descrição</span>
          <div class="sigel-detail-value"><%= @g_estado.descricao %></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sigel-detail-item">
          <span class="sigel-detail-label">UF</span>
          <div class="sigel-detail-value">
            <span class="sigel-badge-uf"><%= @g_estado.uf %></span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sigel-detail-item">
          <span class="sigel-detail-label">País</span>
          <div class="sigel-detail-value"><%= @g_estado.g_pais&.descricao %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="sigel-card-footer d-flex justify-content-end">
    <div>
      <%= link_to g_estados_path, class: "btn btn-sigel-outline" do %>
        Voltar para lista
      <% end %>
    </div>
  </div>
</div>
